<center><h1> {{chiti.customernames}} ({{chiti.code}}) </h1></center>\
<div class="row container">
   <div class="col-md-6 noprint" >
      <button class="btn btn-primary"  ><a ng-href="#/customer/{{chiti.customer}}" style="color:white;">Back</a></button>
      <button class="btn btn-primary"  ><a ng-href="#/daybook" style="color:white;">Daybook</a></button>
      <button class="btn btn-primary" ng-show="sss==0" ng-click="sss=1">Chiti Details</button>
      <button class="btn btn-primary" ng-show="sss==1" ng-click="sss=0">Chiti Details</button>
      <button class="btn btn-primary noprint" ng-click="print()">Print</button>
</div>
<div class="col-md-6 noprint" >
<div class="text-right">
   <button class="btn btn-success" ng-show="chiti.status == 1" ng-click="closechitistatus()">Close Chiti Status </button>
   <button class="btn btn-success" ng-show="chiti.status == 2" ng-click="pendingchitistatuschiti()">Pending Chiti Status  </button>
   <button class="btn btn-success"><a style="color :white;" href="#/editchiti/{{chiti.id}}">Edit Chiti</a> </button>
   <button class="btn btn-success" class="form-control" data-toggle="modal" data-target="#modify_chiti_modal" >Modify</button>
   <button class="btn btn-danger"  ng-click="deletechiti()">Delete Chiti  &nbsp; <span class="glyphicon glyphicon-trash"></span> </button>
</div>
</div>
</div>
<div style="padding-bottom:20px;"></div>
<div class="container" style="border: 1px solid black;">
<div style="font-weight:bold; font-size: 20px;">

<div ng-show="sss ==1" >
<div class="container" >
    
    <div class="col-md-2">
        ID : {{chiti.id}}
    </div>
    <div class="col-md-3">
        Date : {{changeDateUserFormat(chiti.date)}}
    </div>
    <div class="col-md-3">
        Chiti Type: {{chititype[chiti.tYpe-1]}}
    </div>
    <div class="col-md-2">
        Amount : {{chiti.chitiamount}}
    </div>
   
  
</div>
<div class="container" >
        <div class="col-md-3">
            Per {{pertype[chiti.tYpe-1]}} : {{chiti.pdwtm}}
        </div>
        <div class="col-md-3" ng-show="chiti.sowji>0">
         Sowji Profit : {{chiti.sowji}}
     </div>
     <div class="col-md-3" ng-show="chiti.fullandevi>0">
      Fullandevi Profit : {{chiti.fullandevi}}
  </div>
    
    <div class="col-md-3" ng-show ="chiti.tYpe==4">
            Interest : {{chiti.InterestRate}}
    </div>
    
</div>

</div>
<div class="container" >
   <div class="row" ng-show="displaysowjicom==1" >
      <div class="col-md-12" style="background-color:cyan;width: 60%;">
         <p>Sowji's Commission [{{getsowjid[0].amount}}] is added to her A/C on {{changeDateUserFormat(getsowjid[0].date) }} </p>
      </div>
   </div>
   <div class="col-md-3 noprint">
      status : {{status[chiti.status-1]}}
   </div>
   <div class="col-md-3 noprint">
      Pending Collections : {{pendingcollection.length}}
   </div>
<div class="col-md-3" ng-show ="chiti.tYpe==4 || chiti.tYpe== 5">
 Remaining Asalu: {{remainingasalu}}
</div> 
<div class="col-md-2 noprint">
   <input type="checkbox" ng-true-value= "1" ng-false-value="0" ng-model="collstat" ng-change="getcollectionlist()"> <label>Received:</label>
</div>
</div>
    
</div>

<!--accordion-->
<div class="panel-group" id="accordion" style="padding-top: 20px;" ng-show ="chiti.tYpe==4 || chiti.tYpe== 5">
   <div class="panel panel-default"  >
      <div class="panel-heading">
         <h1 class="panel-title">
            <div data-toggle="collapse" data-parent="#accordion" ng-href="#collapse11">Asalu received : {{asaluttl}}</div>
         </h1>
      </div>
      <div id="collapse11" class="panel-collapse collapse ">
         <div class="panel-body">
            <table class="table table-condensed table-hover " id="daybooktable">
               <thead class="thead-dark">
                  <tr>
                     <th>S.No</th>
                     <th>Date</th>
                     <th>Amount </th>
                     <th>Note</th>
                     <th class="noprint">Edit</th>
                  </tr>
               </thead>
               <tbody>
                  <tr  ng-repeat ="a in getasalu" ng-show= "a.amount !=0" >
                     <td> {{$index+1}}</td>
                     <td> {{changeDateUserFormat(a.date)}} </td>
                     <td> {{a.amount}} </td>
                     <td> {{a.note}} </td>
                     <td class="noprint"><a href="#/editasalu/{{a.id}}" ><span class="glyphicon glyphicon-edit"></span> </a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<!--accordion-->
<!--chitiamount accordion-->
<div class="panel-group" id="accordion1" style="padding-top: 20px;" ng-show ="chiti.tYpe==4 && chiti.tYpe== 5">
   <div class="panel panel-default"  >
      <div class="panel-heading">
         <h1 class="panel-title">
            <div data-toggle="collapse" data-parent="#accordion1" ng-href="#collapse112">Added amount in chiti : </div>
         </h1>
      </div>
      <div id="collapse112" class="panel-collapse collapse ">
         <div class="panel-body">
            <table class="table table-condensed table-hover" id="daybooktable">
               <thead class="thead-dark">
                  <tr>
                     <th>S.No</th>
                     <th>Date</th>
                     <th>ChitiAmount </th>
                     <th>Note</th>
                     <th>Edit</th>
                  </tr>
               </thead>
               <tbody>
                  <tr  ng-repeat ="a in getasalu" ng-show= "a.amount ==0" >
                     <td> {{$index+1}}</td>
                     <td> {{changeDateUserFormat(a.date)}} </td>
                     <td> {{a.chitiamount}} </td>
                     <td> {{a.note}} </td>
                     <td><a href="#/editasalu/{{a.id}}" ><span class="glyphicon glyphicon-edit"></span> </a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<!--chitiamount accordion-->


<table class="table table-responsive table-bordered table-condensed table-condensed table-hover noprint">
   <thead>
       <th>SNO.</th>
       <th>Date</th>
       <th>Per  {{pertype[chiti.tYpe-1]}} </th>
       <th >
         <span ng-show="getsum(collection,'sowji')>0">Sowji </span> 
         <span ng-show="getsum(collection,'suri')>0">Suri </span> 
         <span ng-show="getsum(collection,'fullandevi')>0">Fullandevi </span> 
         Comm
         </th>
       <!-- <th ng-show="getsum(collection,'suri')>0">Suri Profit</th>
       <th ng-show="getsum(collection,'fullandevi')>0">Fullandevi Profit</th> -->
       <th>Received</th>
       <th>Received Date </th>
       <th>Notes</th>
       <th>Edit</th>
   </thead>
   
   <tr ng-repeat="c in collection ">
       <td>{{$index+1}} </td>
       <td>{{changeDateUserFormat(c.date)}} </td>
       <td>{{c.amount}} </td>
       <td >
          <span ng-show="c.sowji > 0">{{c.sowji}} </span>
          <span ng-show="c.suri > 0">{{c.suri}} </span>
          <span ng-show="c.fullandevi > 0">{{c.fullandevi}} </span>
      </td>
       <!-- <td ng-show="c.suri > 0">{{c.suri}} </td>
       <td ng-show="c.fullandevi > 0">{{c.fullandevi}} </td>
       <td ng-show="(getsum(collection,'fullandevi')>0 || getsum(collection,'suri')>0 || getsum(collection,'fullandevi')>0  )
          && (c.sowji >0 || c.suri > 0 || c.fullandevi > 0)" ></td> -->
       <td>{{yesno[c.received]}} </td>
       <td>{{changeDateUserFormat(c.rcvddate)}} </td>
       <td>{{c.notes}} </td>
       <td><a href="#/editcollection/{{c.id}}" ><span class="glyphicon glyphicon-edit"></span> </a></td>
   </tr>
</table>



<div class="col-md-3">
</div>
<div class="container col-md-2" >
   <button class="btn-primary form-control noprint" data-toggle="modal" data-target="#addasalumodal1">Add Amount in Chiti</button>
</div>
<div class="container col-md-2" >
   <button class="btn-primary form-control noprint" ng-show="chiti.tYpe != 1 && chiti.tYpe != 2" data-toggle="modal" data-target="#addasalumodal">Add Asalu Received</button>
</div>
<div class="container col-md-2" >
   <button class="btn-primary form-control noprint" ng-show="chiti.tYpe == 5" data-toggle="modal" data-target="#dailymodal">create Entry</button>
</div>
<div class="container col-md-3 noprint"  ng-show="chiti.tYpe == 4">
    <button  class="btn-primary form-control" data-toggle="modal" data-target="#addmonthmodal">Add Monthly collection</button>
    <div style="padding-bottom:20px;"></div>
</div>

<!--Received cash accordion-->
<div class="panel-group " id="accordion1" style="padding-top: 70px;" >
   <div class="panel panel-default"  >
      <div class="panel-heading">
         <h1 class="panel-title">
            <div data-toggle="collapse" data-parent="#accordion1" ng-href="#collapse113">Received Cash  : {{chitiamountttl}}</div>
         </h1>
      </div>
      <div id="collapse113" class="panel-collapse collapse ">
         <div class="panel-body">
            <table class="table table-condensed table-hover" id="rcvdcashtable">
               <thead class="thead-dark">
                  <tr>
                     <th>S.No</th>
                     <th>Date</th>
                     <th>ChitiAmount </th>
                     <th>Note</th>
                     <th>Edit</th>
                  </tr>
               </thead>
               <tbody>
                  <tr  ng-repeat ="r in receivedamount"  >
                     <td> {{r.id}}</td>
                     <td> {{changeDateUserFormat(r.rcvddate)}} </td>
                     <td> {{r.amount}} </td>
                     <td> {{r.note}} </td>
                     <td ><a href="#/editreceived/{{r.id}}" ><span class="glyphicon glyphicon-edit"></span> </a></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<!--Received cash accordion-->

{{response}}

<div id="addmonthmodal"class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-md" >
        <!-- Modal content -->
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <center>
                 <h4> Insert the Number of Collection Entries you want </h4>
              </center>
           </div>
           <div class="modal-body">
              <form ng-submit="addmonthcol()" name="addmonthcolform" >
                 <div class="container">
                    <div class="form-inline">
                       <div class="row" style="padding-left: 28px;">
                          <div class="col-md-5 text-center">
                             <div class="form-group">
                                <label>Number of Entries : </label>
                                <input type="number" name="noof" ng-model="noof" class="form-control">
                             </div>
                          </div>
                       </div>
                       <!-- row -->
                       <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                            <div class="col-md-5 text-center">
                               <div class="form-group">
                                  <label>Interest Amount : </label>
                                  <input type="number" name="intamt" ng-model="intamt" class="form-control">
                               </div>
                            </div>
                        </div>        
                         <!-- row -->
                       <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                            <div class="col-md-5 text-center">
                               <div class="form-group">
                                  <label>Sowji Comm : </label>
                                  <input type="number" name="sowjicomm" ng-model="sowjicomm" class="form-control">
                               </div>
                            </div>
                        </div>                   
                       <div class="row text-center" style="padding-top: 20px;"  >
                          <div class="col-md-6">
                             <input type="submit" class="btn btn-success"  >
                          </div>
                       </div>
                    </div>
                    <!-- form-inline -->
                 </div>
                 <!-- container -->
              </form>
           </div>
        </div>
     </div>
  </div>
  <!-- Modal content -->
<!--add asalu-->
<div id="addasalumodal"class="modal fade" tabindex="-1" role="dialog" >
   <div class="modal-dialog modal-md" >
       <!-- Modal content -->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <center>
                <h4> Add Asalu Received </h4>
             </center>
          </div>
          <div class="modal-body">
             <form ng-submit="addasalu()" name="addasaluform" >
                <div class="container">
                   <div class="form-inline">
                      <div class="row" style="padding-left: 28px;">
                         <div class="col-md-5 text-center">
                           <div class="form-group " >
                              <div class="input-group date" >
                                 <input type="text" style="width:150px;" class="form-control" ng-change="setDate()"  placeholder="Date" ng-model="asaludate" name="dAte" id="dAte" autocomplete="off"  >
                                 <span  class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                              </div>
                             <br>
                             <br>
                              <input type="button" class="btn btn-primary" ng-click="todaydate()" value="today">
                              <input type="button" class="btn btn-primary" ng-click="yesterdaydate()" value="1">
                              <input type="button" class="btn btn-primary" ng-click="DByesterdaydate()" value="2">
                              <input type="button" class="btn btn-primary" ng-click="D2Byesterdaydate()" value="3">
                           </div>
                         </div>
                      </div>
                      <!-- row -->
                      <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                           <div class="col-md-5 text-center">
                              <div class="form-group">
                                 <label> Amount : </label>
                                 <input type="number" name="intamt" ng-model="asaluamount" class="form-control">
                              </div>
                           </div>
                       </div>        
                        <!-- row -->
                        <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                              <div class="col-md-5 text-center">
                                 <div class="form-group">
                                    <label> Note : </label>
                                    <input type="text" name="intnote" ng-model="asalunote" class="form-control">
                                 </div>
                              </div>
                          </div>        
                           <!-- row -->
                      <div class="row text-center" style="padding-top: 20px;"  >
                         <div class="col-md-6">
                            <input type="submit" class="btn btn-success"  >
                         </div>
                      </div>
                   </div>
                   <!-- form-inline -->
                </div>
                <!-- container -->
             </form>
          </div>
       </div>
    </div>
 </div>
  <!--add asalu-->
  <!--add amount in chiti-->
<div id="addasalumodal1"class="modal fade" tabindex="-1" role="dialog" >
   <div class="modal-dialog modal-md" >
       <!-- Modal content -->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <center>
                <h4> Add Amount in Chiti </h4>
             </center>
          </div>
          <div class="modal-body">
             <form ng-submit="addamountinchiti()" name="addamountinchitiform" >
                <div class="container">
                   <div class="form-inline">
                      <div class="row" style="padding-left: 28px;">
                         <div class="col-md-5 text-center">
                           <div class="form-group " >
                              <div class="input-group date" >
                                 <input type="text" style="width:150px;" class="form-control" ng-change="setDate()"  placeholder="Date" ng-model="asaludate" name="dAte" id="dAte" autocomplete="off"  >
                                 <span  class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                              </div>
                             <br>
                             <br>
                              <input type="button" class="btn btn-primary" ng-click="todaydate()" value="today">
                              <input type="button" class="btn btn-primary" ng-click="yesterdaydate()" value="1">
                              <input type="button" class="btn btn-primary" ng-click="DByesterdaydate()" value="2">
                              <input type="button" class="btn btn-primary" ng-click="D2Byesterdaydate()" value="3">
                           </div>
                         </div>
                      </div>
                      <!-- row -->
                      <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                           <div class="col-md-5 text-center">
                              <div class="form-group">
                                 <label> Chiti Amount : </label>
                                 <input type="number" name="chitamt" ng-model="asaluchitiamount" class="form-control">
                              </div>
                           </div>
                       </div>        
                        <!-- row -->
                        <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                              <div class="col-md-5 text-center">
                                 <div class="form-group">
                                    <label> Note : </label>
                                    <input type="text" name="intnote" ng-model="asalunote" class="form-control">
                                 </div>
                              </div>
                          </div>        
                           <!-- row -->
                      <div class="row text-center" style="padding-top: 20px;"  >
                         <div class="col-md-6">
                            <input type="submit" class="btn btn-success"  >
                         </div>
                      </div>
                   </div>
                   <!-- form-inline -->
                </div>
                <!-- container -->
             </form>
          </div>
       </div>
    </div>
 </div>
  <!--add amount in chiti-->

<!--reminder for status and add month collection  -->
<div id="statusremmodal"class="modal fade" tabindex="-1" role="dialog" >
   <div class="modal-dialog modal-md" >
       <!-- Modal content -->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <center>
                <h4> All Collections Received! </h4>
          </div>
          <div class="modal-body">
             <p>All Collections for {{chiti.customername}}'s Chiti have been Received</p>
          </div>
          <div class="modal-footer" style="background-color: rgb(87, 189, 236);" >
             <button class="btn btn-success" ng-click="closechitistatus()" >status close</button>
             <button class="btn btn-success" ng-click = "pressadmonbtn()" ng-show="chiti.tYpe==4" >Add Monthly Collection</button>
             <button class="btn btn-danger" data-dismiss="modal" >Cancel</button>
             
          </div>
       </div>
    </div>
 </div>
 <!--reminder for Adding sowji collection  -->
<div id="sowjicommmodal"class="modal fade" tabindex="-1" role="dialog" >
   <div class="modal-dialog modal-md" >
       <!-- Modal content -->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <center>
                <h4> Add Sowji Comm! </h4>
          </div>
          <div class="modal-body">
             <p>Add Sowji Commission ( {{getsum(collection,"sowji") }} )  for {{chiti.customername}}'s Chiti </p>
            
             <div class="row" style="padding-left: 28px;">
               <div class="col-md-5 text-center">
                 <div class="form-group " >
                    <div class="input-group date" >
                       <input type="text" style="width:170px;" class="form-control" ng-change="setDate()"  placeholder="Date" ng-model="sowji.date" name="date" id="date" autocomplete="off"  >
                       <span  class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                   <br>
                   <br>
                    <input type="button" class="btn btn-primary" ng-click="todaydate()" value="today">
                    <input type="button" class="btn btn-primary" ng-click="yesterdaydate()" value="1">
                    <input type="button" class="btn btn-primary" ng-click="DByesterdaydate()" value="2">
                    <input type="button" class="btn btn-primary" ng-click="D2Byesterdaydate()" value="3">
                 </div>
               </div>
              
            </div>
            <div class="row" style="padding-left: 28px;">
               <div class="col-md-6 text-center">
               <textarea placeholder="note" style="width:300px;height: 100px;" ng-model="sowji.note" ></textarea>
            </div>
          </div>
          </div>
          <div class="modal-footer" style="background-color: rgb(87, 189, 236);" >
             <button class="btn btn-success" ng-click="addsowjicomm()" >Add Comm</button>
             <button class="btn btn-danger" data-dismiss="modal" >Cancel</button>
             
          </div>
       </div>
    </div>
 </div>
</div>


<!--Modify chiti-->
<div id="modify_chiti_modal"class="modal fade" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-md" >
          <!-- Modal content -->
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center>
                   <h4> Modify Chiti </h4>
                </center>
             </div>
             <div class="modal-body">
                <form ng-submit="modifychiti()" name="modify_chiti_form" >
                   <div class="container">
                      <div class="form-inline">
                         <div class="row" style="padding-left: 28px;">
                            <div class="col-md-5 text-center">
                               <div class="form-group">
                                  <label>Chiti Type : </label>
                                  <select class="form-control" ng-model="modify.tYpe"  name="type" ng-options="c.id as c.type for c in chititypes" >
                                       <option value="" >Select Chiti Type</option>
                                   </select>
                               </div>
                            </div>
                         </div>
                         <!-- row -->
                         <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                              <div class="col-md-5 text-center">
                                 <div class="form-group">
                                    <label>Per Amount : </label>
                                    <input type="number" name="pdwtm" ng-model="modify.pdwtm" class="form-control">
                                 </div>
                              </div>
                          </div>        
                           <!-- row -->
                         <div class="row " style="padding-top: 28px;padding-left: 28px;" >
                              <div class="col-md-5 text-center">
                                 <div class="form-group">
                                    <label>Sowji Comm : </label>
                                    <input type="number" name="sowjicomm" ng-model="modify.sowji" class="form-control">
                                 </div>
                              </div>
                          </div>                   
                         <div class="row text-center" style="padding-top: 20px;"  >
                            <div class="col-md-6">
                               <input type="submit" class="btn btn-success"  >
                            </div>
                         </div>
                      </div>
                      <!-- form-inline -->
                   </div>
                   <!-- container -->
                </form>
             </div>
          </div>
       </div>
    </div>
    <!-- Modal content -->
  




    <script>
      $('table').on('click', 'td', function() {
         if($( this ).css( "background-color" ) == "rgb(255, 255, 0)"){
            $(this).css('backgroundColor', 'white');
         }else{
            $(this).css('backgroundColor', 'yellow');
         }
      });
   
   </script>